{% extends "base.html" %}
{% load static %}
{% load markdownify %}
{% load template_loader %}
{% block title %}Curriculum Vitae{% endblock %}
{% block page_css %}
  <link rel="stylesheet" href="{% static 'portfolio/css/standard_header.css' %}" />
  <link rel="stylesheet" href="{% static 'portfolio/css/project.css' %}" />
{% endblock %}
{% block header %}{% standard_header %}{% endblock %}
{% block content %}
  <div class="cv_container">
    <div class="cv_body">
    </div>
  </div>
{% endblock %}
{% block footer %}{% large_footer %}{% endblock %}
