{% extends "base.html" %}
{% load static %}
{% load markdownify %}
{% load template_loader %}
{% load my_helpers %}
{% load group_tags %}
{% block title %}Curriculum Vitae{% endblock %}
{% block page_css %}
  <link rel="stylesheet" href="{% static 'portfolio/css/standard_header.css' %}" />
  <link rel="stylesheet" href="{% static 'portfolio/css/curriculum_vitae.css' %}" />
{% endblock %}
{% block header %}{% standard_header user %}{% endblock %}
{% block content %}
  <div class="cv_container">
    <div class="cv_body">
      <div class="cv_header">
        <div class="cv_header container">
            <div class="name">{{ name }}</div>
            <div class="profession">{{ profession }}</div>
            {% if user.is_authenticated %}
              {% if request.user|has_group:"primary_account" %}
                <div class="address">
                  {% if address.street_two %}
                    <div class="street">{{ address.street_one }} {{ address.street_two }}</div>
                  {% else %}
                    <div class="street">{{ address.street_one }}</div>
                  {% endif %}
                  <div class="city">{{ address.city }},</div>
                  <div class="state">{{ address.state }},</div>
                  <div class="zip">{{ address.zip }}</div>
                </div>
              {% endif %}
            {% endif %}
        </div>
      </div>
      <div class="summary">{{ cv.summary }}</div>
      <div class="vertical_rule"></div>
      <div class="cv_list">
        <div class="education">
          <div class="title">
            <div class="bullet">{% svg_by_name "CVSchoolIcon" %}</div>
            <div class="text">Education</div>
          </div>
          <div class="list">
            {% for ed in education %}
              <div class="education item">
                <div class="bullet">{% svg_by_name "CVBulletPoint" %}</div>
                <div class="year">{{ ed.end.year }}</div>
                <div class="degree">{{ ed.degree }}</div>
                <div class="institution">{{ ed.institution }}</div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="certificates">
          <div class="title">
            <div class="bullet">{% svg_by_name "CVCertificates" %}</div>
            <div class="text">Certifications</div>
          </div>
          <div class="list">
            {% for cert in certificates %}
              <div class="education item">
                <div class="bullet">{% svg_by_name "CVBulletPoint" %}</div>
                <div class="year">{{ cert.end.year }}</div>
                <div class="degree">{{ cert.degree }}</div>
                <div class="institution">{{ cert.institution }}</div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="skills">
          <div class="title">
            <div class="bullet">{% svg_by_name "CVSkillsIcon" %}</div>
            <div class="text">Skills</div>
          </div>
          <div class="list">
            <div class="skill item">
              <div class="bullet">{% svg_by_name "CVBulletPoint" %}</div>
              <div class="skills inner">
                {% for skill in skills %}
                  <div class="dot"></div>
                  <div class="skill">{{ skill.title }}</div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="professional_experience">
          <div class="title">
            <div class="bullet">{% svg_by_name "CVWorkIcon" %}</div>
            <div class="text">Professional Experience</div>
          </div>
          <div class="list">
            {% for experience in professional_experiences %}
              <div class="achievement item">
                <div class="bullet">{% svg_by_name "CVBulletPoint" %}</div>
                <div class="year">{{ experience.completed.year }}</div>
                <div class="title">{{ experience.title }}</div>
                <div class="summary">{{ experience.summary }}</div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="field_experience">
          <div class="title">
            <div class="bullet">{% svg_by_name "CVFeildExperience" %}</div>
            <div class="text">Field Experience</div>
          </div>
          <div class="list">
            {% for experience in field_experiences %}
              <div class="achievement item">
                <div class="bullet">{% svg_by_name "CVBulletPoint" %}</div>
                <div class="year">{{ experience.completed.year }}</div>
                <div class="title">{{ experience.title }}</div>
                <div class="summary">{{ experience.summary }}</div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="professional_development">
          <div class="title">
            <div class="bullet">{% svg_by_name "CVDevelopment" %}</div>
            <div class="text">Professional Development</div>
          </div>
          <div class="list">
            {% for development in professional_development %}
              <div class="achievement item">
                <div class="bullet">{% svg_by_name "CVBulletPoint" %}</div>
                <div class="year">{{ development.completed.year }}</div>
                <div class="title">{{ development.title }}</div>
                <div class="summary">{{ development.summary }}</div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block footer %}{% large_footer %}{% endblock %}
