{% load search %}
{% load static %}
<div class="home header_image_outer">
    <div class="home header_image" style="background-image: url({% static "portfolio/img/TP-BG.jpg" %}); background-size: cover; background-position-y: bottom;}">
    </div>
</div>
<div class="home header_container">
    <div class="home header">
        <h1 class="heading">
            Sean Ross
        </h1>
        <h4 class="subheading">
            A lifelong learner and developer. With over ten years of professional and personal coding experience. I caught the coding bug back in high school when I started a project in HTML and JavaScript and have been coding ever since. I have completed projects in C++, Objective-C, C#, Java, and Python. Python is now my go-to language but I really like taking the opportunity to learn new ones.
        </h4>
    </div>
</div>