{% load search %}
{% load static %}
<div class="home header_image_outer">
    <div class="home header_image" style="background-image: url({% static "portfolio/img/TP-BG.jpg" %}); background-size: cover; background-position-y: bottom;}">
    </div>
</div>
<div class="home header_container">
    <div class="home header">
        <h1 class="heading">
            Sean Ross
        </h1>
        <h4 class="subheading">
            A lifelong learner and developer. With over ten years of professional and personal coding experience. I caught the coding bug back in high school when I started a project in HTML and JavaScript and have been coding ever since. I have completed projects in C++, Objective-C, C#, Java, and Python. Python is now my go-to language but I really like taking the opportunity to learn new ones.
        </h4>
        <svg
            width="50mm"
            height="50mm"
            viewBox="0 0 50 50"
            version="1.1"
            id="Chevrons"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg">
            <path
                class="chevron"
                id="TopChevron"
                style="stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter"
                d="M 0,5 25,25 50,5 45,5 25,20 5,5 Z">
            </path>
            <path
                class="chevron"
                id="MiddleChevron"
                style="stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter"
                d="M 0,15 25,35 l 25,-20 -5,0 -20,15 -20,-15 z">
            </path>
            <path
                class="chevron"
                id="BottomChevron"
                style="stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter"
                d="M 0,25 25,45 l 25,-20 -5,0 -20,15 -20,-15 z">
            </path>
            <rect
                class="line"
                id="UnderLine"
                width="50"
                height="3"
                x="0"
                y="47">
            </rect>
        </svg>
    </div>
</div>
