{% extends "base.html" %}
{% load static %}
{% load markdownify %}
{% load template_loader %}
{% block title %}Projects{% endblock %}
{% block page_css %}
  <link rel="stylesheet" href="{% static 'portfolio/css/standard_header.css' %}" />
{% endblock %}
{% block header %}{% standard_header user %}{% endblock %}
{% block content %}
{% if projects %}
    {% for proj in projects %}
    <div class="project">
        <div class="title">{{ proj.name }}</div>
        <div class="body">{{ proj.highlights | markdownify | safe }}</div>
    </div>
    {% endfor %}
{% endif %}
{% endblock %}
{% block footer %}{% large_footer %}{% endblock %}
