{% extends "base.html" %}
{% load static %}
{% load template_loader %}
{% block title %}{% endblock %}
{% block page_css %}
  <link rel="stylesheet" href="{% static 'portfolio/css/standard_header.css' %}" />
  <link rel="stylesheet" href="{% static 'portfolio/css/project.css' %}" />
{% endblock %}
{% block header %} {% standard_header user %} {% endblock %}
{% block content %}
  <div class="project_container">
    <div class="project_body">
    </div>
  </div>
{% endblock %}
{% block footer %}{% standard_footer %}{% endblock %}
