{% extends "base.html" %}
{% load static %}
{% load template_loader %}
{% block title %}Resume{% endblock %}
{% block page_css %}
  <link rel="stylesheet" href="{% static 'portfolio/css/standard_header.css' %}" />
  <link rel="stylesheet" href="{% static 'portfolio/css/resume.css' %}" />
{% endblock %}
{% block header %}{% standard_header %}{% endblock %}
{% block content %}
  <div class="resume container">
    <div class="resume body">
      <div class="resume header">
        <div class="header_text">
          {{ main_user_name }}
        </div>
        <svg class="horizontal_rule" viewBox="0 0 859 2" xmlns="http://www.w3.org/2000/svg">
          <path stroke-width="2" d="M0 1H859"></path>
        </svg>
      </div>
      <div class="resume sidebar">
        <span>{{ phone }}</span>
        <span>{{ email }}</span>
        <span>{{ website }}</span>
      </div>
      <div class="resume main content">
        <div class="summary inner container">
          <div class="summary title">Summary</div>
          <div class="summary block">{{ resume.summary }}</div>
        </div>
        <div class="skills inner container">
          <div class="skills title">Technical Skills</div>
          <div class="skills block">
            {% for skill in resume.skill_set.all %}
              <div class="skill">
                <div class="dot"></div>
                <div class="name">{{ skill.title }}</div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="achievments inner container">
          <div class="achievments title">Achievments</div>
          <div class="achievments block"></div>
        </div>
        <div class="work-experience inner container">
          <div class="work-experience title">Work Experience</div>
          <div class="work-experience block"></div>
        </div>
        <div class="education inner container">
          <div class="education title">Education</div>
          <div class="education block"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block footer %}{% large_footer %}{% endblock %}
