{% extends "base.html" %}
{% load group_tags %}
{% load static %}
{% load template_loader %}
{% block title %}Resume{% endblock %}
{% block page_css %}
  <link rel="stylesheet" href="{% static 'portfolio/css/standard_header.css' %}" />
  <link rel="stylesheet" href="{% static 'portfolio/css/resume.css' %}" />
{% endblock %}
{% block header %}{% standard_header user %}{% endblock %}
{% block content %}
  <div class="resume container">
    <div class="resume body">
      <div class="resume header">
        <div class="header_text">
          {{ main_user_name }}
        </div>
        <svg class="horizontal_rule" viewBox="0 0 859 2" xmlns="http://www.w3.org/2000/svg">
          <path stroke-width="2" d="M0 1H859"></path>
        </svg>
      </div>
      <div class="resume sidebar">
        {% if user.is_authenticated %}
          {% if request.user|has_group:"primary_account" %}
            <span>{{ phone }}</span>
          {% endif %}
        {% endif %}
        <span>{{ email }}</span>
        <span>{{ website }}</span>
      </div>
      <div class="resume main content">
        <div class="summary inner container">
          <div class="summary title">Summary</div>
          <div class="summary block">{{ resume.summary }}</div>
        </div>
        <div class="skills inner container">
          <div class="skills title">Technical Skills</div>
          <div class="skills block">
            {% for skill in resume.skill_set.all %}
              <div class="skill">
                <div class="dot"></div>
                <div class="name">{{ skill.title }}</div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="achievements inner container">
          <div class="achievements title">Achievments</div>
          <div class="achievements block">
            {% for achievement in achievements %}
              <div class="achievement">{{ achievement.short_summary }}</div>
            {% endfor %}
          </div>
        </div>
        <div class="work-experience inner container">
          <div class="work-experience title">Work Experience</div>
          <div class="work-experience block">
            {% for work_experience in work_experiences %}
              <div class="work">
                <div class="work head">
                  <div class="position">{{ work_experience.position }}</div>
                  <div class="long dash"></div>
                  <div class="organization">{{ work_experience.organization }}</div>
                  <div class="long dash"></div>
                  <div class="start">{{ work_experience.start }}</div>
                  <div class="dash"></div>
                  {% if  work_experience.end %}
                    <div class="end">{{ work_experience.end }}</div>
                  {% else %}
                    <div class="end">Current</div>
                  {% endif %}
                </div>
                <div class="responsibilities">
                  {% for responsibility in work_experience.responsibilities %}
                    <div class="responsibility">
                      <div class="dot"></div>
                      <div class="short summary">{{ responsibility.short_summary }}</div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="education inner container">
          <div class="education title">Education</div>
          <div class="education block">
            {% for ed in education  %}
              <div class="education-inner">
                <div class="degree">{{ ed.degree }}</div>
                <div class="long dash"></div>
                <div class="institute">{{ ed.institution }}</div>
                <div class="long dash"></div>
                <div class="year">{{ ed.end.year }}</div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block footer %}{% large_footer %}{% endblock %}
