{% extends "base.html" %}
{% load static %}
{% load template_loader %}
{% block title %}MISSINGNO{% endblock %}
{% block page_css %}
  <link rel="stylesheet" href="{% static 'portfolio/css/standard_header.css' %}" />
{% endblock %}
{% block page_js %}
{% endblock %}
{% block header %}
  {% standard_header %}
{% endblock %}
{% block content %}
  <div style="display:grid; place-items: center; width:100%; grid-auto-flow: row">
    <div
        style='font-size: 12px;line-height:10px;font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace'>
      <span>################@@##########&nbsp;&nbsp;&nbsp;##&nbsp;z&nbsp;##&nbsp;&nbsp;##&nbsp;#############</span><br/>
      <span>###########################&nbsp;``&nbsp;zz#&nbsp;&nbsp;#&nbsp;++&nbsp;&nbsp;#@@###########</span><br/>
      <span>###########################&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;#z&nbsp;&nbsp;`&nbsp;&nbsp;&nbsp;z*#############</span><br/>
      <span>##########################@&nbsp;&nbsp;&nbsp;`&nbsp;#+`&nbsp;#&nbsp;+&nbsp;z*##@#@#########</span><br/>
      <span>#########################@#&nbsp;##*#&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;#&nbsp;#&nbsp;&nbsp;@@###########</span><br/>
      <span>########################@##:&nbsp;&nbsp;.&nbsp;&nbsp;+#z #`+ +z##@@@########</span><br/>
      <span>##########################@#;#,@:@:#&nbsp;&nbsp;z++z @############</span><br/>
      <span>#########################@##;:;;:;:# z+##+ #@###########</span><br/>
      <span>#########################@#;```` ` #`+#++&nbsp;&nbsp;#############</span><br/>
      <span>##########################@@;;@:@:#&nbsp;&nbsp; #;#:##@###########</span><br/>
      <span>########################@#@+z&nbsp;&nbsp;&nbsp;&nbsp; `&nbsp;&nbsp;&nbsp;&nbsp; z +#############</span><br/>
      <span>########################@#@@## # z&nbsp;&nbsp;z # +#`#@###########</span><br/>
      <span>#########################@##&nbsp;&nbsp;#`# z:M@@@@;@W##@#########</span><br/>
      <span>########################@#@ `z + ###z ## ###############</span><br/>
      <span>########################### :@@@@;:`##W@@#:#@###########</span><br/>
      <span>#########################@#z:;;;:;@:@@##&nbsp;&nbsp;#@############</span><br/>
      <span>###########################; # # +z+#&nbsp;&nbsp;+#` #############</span><br/>
      <span>#########################@#::;:#:;;WW;@#:@;#@##@########</span><br/>
      <span>############################&nbsp;&nbsp;`*&nbsp;&nbsp;+ ` +##+ ###@#########</span><br/>
      <span>##########################@@z z `+z# ### ` @############</span><br/>
      <span>########################@##:#:W@:;@&nbsp;&nbsp;&nbsp;&nbsp; z+#@@##@########</span><br/>
      <span>#########################@#&nbsp;&nbsp;##&nbsp;&nbsp;#+&nbsp;&nbsp;` #&nbsp;&nbsp;##@#@#########</span><br/>
      <span>###########################:### z##@@W@:iWW#############</span><br/>
      <span>###########################&nbsp;&nbsp;` # ## # ##&nbsp;&nbsp;#@##@#########</span><br/>
      <span>####################+###z+# #++ # ### + #&nbsp;&nbsp;###@#########</span><br/>
      <span>################### `&nbsp;&nbsp;&nbsp;&nbsp;## @iW@#@@ ## # ###@##@########</span><br/>
      <span>####################&nbsp;&nbsp;`&nbsp;&nbsp;##@::@@:@;z&nbsp;&nbsp;+ # #@############</span><br/>
      <span>################### `&nbsp;&nbsp; `+ #W;;@@:@+&nbsp;&nbsp;z # ###@##########</span><br/>
      <span>###################&nbsp;&nbsp;&nbsp;&nbsp;` #@&nbsp;&nbsp;+# `&nbsp;&nbsp; z# # # @############</span><br/>
      <span>###################;###*z#### z#&nbsp;&nbsp; #&nbsp;&nbsp;+`# +#@@##########</span><br/>
      <span>##################@#&nbsp;&nbsp;``&nbsp;&nbsp;+ #W;::#Wz ##++ `#@#@#########</span><br/>
      <span>################### @#W@@:@&nbsp;&nbsp; #`# z&nbsp;&nbsp;`+ z+ #############</span><br/>
      <span>####################&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;&nbsp; @W#@@@# ##### ##############</span><br/>
      <span>###################@;@,@:,##z;+&nbsp;&nbsp;#&nbsp;&nbsp;` # # ##############</span><br/>
      <span>################@##&nbsp;&nbsp;`&nbsp;&nbsp; z#W@::#,;; ##&nbsp;&nbsp;`+ ##@##########</span><br/>
      <span>##################### # #+ z+#z ##&nbsp;&nbsp;* +&nbsp;&nbsp;` @##@#########</span><br/>
      <span>################@#@++#### z+####&nbsp;&nbsp;##z##+ +@@############</span><br/>
      <span>################@##:n##+#+ ;:z*z&nbsp;&nbsp;#&nbsp;&nbsp;&nbsp;&nbsp;`z@i#@###########</span><br/>
      <span>#################@W`.@:@;@;@W@#:;@;;;;:;:@ #############</span><br/>
      <span>###################: # + # ##:# ``#;@:@:@###############</span><br/>
      <span>#################@#; # # # ;# ::Wi;`z`#`#@:#############</span><br/>
      <span>################@## # # # n&nbsp;&nbsp;z#`.#+::;:::;+@############</span><br/>
      <span>##################@`&nbsp;&nbsp; `&nbsp;&nbsp; @&nbsp;&nbsp;#&nbsp;&nbsp; z+z####+i#@##@########</span><br/>
      <span>################@#@ ` `&nbsp;&nbsp;&nbsp;&nbsp;` ` `##&nbsp;&nbsp;+ # # #@@@@@########</span><br/>
      <span>###################`&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#*#+# # #&nbsp;&nbsp;` W#@@@########</span><br/>
      <span>###################*zz+####+# #`&nbsp;&nbsp;`###+; # #@W##########</span><br/>
      <span>###################&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;## #+ # ,;@#@z n#############</span><br/>
      <span>###################&nbsp;&nbsp;&nbsp;&nbsp; `&nbsp;&nbsp;#+&nbsp;&nbsp;####;@;@#``##@###########</span><br/>
      <span>################@#@&nbsp;&nbsp;&nbsp;&nbsp;#+z+&nbsp;&nbsp;##&nbsp;&nbsp;&nbsp;&nbsp;z++z### ##@##########</span><br/>
      <span>#################@#*##+ + #&nbsp;&nbsp;z# # +@;;:;,:@@###@########</span><br/>
      <span>################@###++z+`z ++ #&nbsp;&nbsp;`### ###z+#@@##########</span><br/>
      <span>##################@ ` `&nbsp;&nbsp;+ #z# ##+&nbsp;&nbsp; #z# # @############</span><br/>
      <span>#################@#z+++##`++##+&nbsp;&nbsp;&nbsp;&nbsp;;;@W@:@;###@#########</span><br/>
      <span>###################+z+# +#`&nbsp;&nbsp;&nbsp;&nbsp;# # ++&nbsp;&nbsp;&nbsp;&nbsp;#+#@###########</span><br/>
      <span>################@##+z#++&nbsp;&nbsp;#&nbsp;&nbsp;&nbsp;&nbsp; #+ z#`# z# #@##@########</span><br/>
      <span>###################&nbsp;&nbsp; `##&nbsp;&nbsp;#### #+&nbsp;&nbsp;#&nbsp;&nbsp;&nbsp;&nbsp; z@##@#########</span><br/>
    </div>
    <div>
      {% block status %}<span>Page not Found!</span>{% endblock %}
    </div>
  </div>
{% endblock %}
{% block footer %}
  {% large_footer %}
{% endblock %}