<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sean's Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'RossDevs/css/style.css' %}">
    {% block page_css %}{% endblock %}
</head>
<body>
{% block header %}{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
    <script src="{% static 'RossDevs/js/jquery.min.js' %}"></script>
    <script src="{% static 'RossDevs/js/popper.js' %}"></script>
    <script src="{% static 'RossDevs/js/hamburgerMenu.js' %}"></script>
</body>
</html>