{% load search %}

<div class="home footer">
    <div class="social">
        <div class="linked-in card">
            <a href="https://www.linkedin.com/in/sean-r-a571154a/">
                <div class="icon linkedIn">
                    {% svg_by_name 'linkedIn' %}
                </div>
                <span>Linked In @sean-r-a571154a</span>
            </a>
        </div>
        <div class="key-base card">
            <a href="https://keybase.io/sean_aphid">
                <div class="icon keybase">
                    {% svg_by_name 'keybase' %}
                </div>
                <span>keybase @sean_aphid</span>
            </a>
        </div>

        <div class="email card">
            <a href="mailto://sean.r.ross@gmail.com">
                <div class="icon email">
                    {% svg_by_name 'email' %}
                </div>
                <span>sean.r.ross@gmail.com</span>
            </a>
        </div>
    </div>
</div>