{% extends "base.html" %}

{% load static %}
{% load template_loader %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'RossDevs/css/style.css' %}">
{% endblock %}

{% block header %}
    {% home_header %}
{% endblock %}

{% block content %}
    <div class="content-container">
        <div class="content-grid">
            <div class="bio">
                {% if bio %}
                    <div class="markdown">
                        {{ md|safe }}
                    </div>
                {% endif %}
            </div>
            <div class="skills">
                {% if skills %}
                    <h1>Skills</h1>
                    <hr />
                    {% for skill in skills %}
                        <h2 class="name skill">{{ skill.name }}</h2>
                        <div class="description skill">
                            {{ skill.description|safe }}
                            <span id="more{{ skill.id }}dots">...</span>
                        </div>
                        <div class="highlights skill" id="more{{ skill.id }}more" style="display: none">
                            {{ skill.highlights|safe }}
                        </div>
                        <button class="read_more_btn skill" onclick="readMore(this)" id="more{{ skill.id }}">
                            Read more
                        </button>
                    {%  endfor %}
                {% endif %}
            </div>
            <div class="achievements">
                {% if achieves %}
                    <h1>Achievements</h1>
                    <hr />
                    {% for achieve in achieves %}
                        <h2 class="name achievement">{{ achieve.name }}
                            <span id="more{{ achieve.id }}dots">...</span>
                        </h2>
                        <div class="description achievement" id="more{{ achieve.id }}more" style="display: none">
                            {{ achieve.description|safe }}
                        </div>
                        <button class="read_more_btn achievement"  onclick="readMore(this)" id="more{{ achieve.id }}">
                            Read more
                        </button>
                    {%  endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% home_footer %}
{% endblock %}