{% load search %}

<div class="home footer">
    <div class="social">
        <div class="linked-in card">
            <div class="icon linkedIn">
                {% svg_by_name 'linkedIn' %}
            </div>
            <span>Linked In @</span>
        </div>
        <div class="key-base card">
            <div class="icon keybase">
                {% svg_by_name 'keybase' %}
            </div>
            <span>keybase @</span>
        </div>
        <div class="email card">
            <div class="icon email">
                {% svg_by_name 'email' %}
            </div>
            <span>sean.r.ross@gmail.com</span>
        </div>
    </div>
    <div class="contact">
        <span>For web development you can email me at {{ contact.email }} or leave a message at {{ contact.phone }}.</span>
    </div>
</div>