:root {
  --documentBackground: #fff;
  --documentAccent2: #373d48;
  --documentFont1: #010101;
  --documentFont2: #9b9b9b;
}

.cv_container {
  display: grid;
  place-items: center;
}

.cv_body {
  width: 955px;
  min-height: 100vh;
  max-height: 100%;
  background-color: var(--documentBackground);
}

.cv_header {
  display: flex;  
  background-color: var(--documentAccent2);
  width: 100%;
}

.cv_header.container {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 28px;
    height: 100px;
    display: grid;
    grid-tempate-rows: 42px 21px 34px;
    align-items: end;
}

.cv_header > .name {
    font-size: 36px;
    color: var(--documentFont2);
}

.address {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 6px;
    grid-auto-columns: max-content;
}

.summary {
    min-height: 50px;
}

.vertical_rule {
    height: 100%;
    width: 2px;
    position: absolute;
    margin-left: 50px;
    background-color: var(--documentAccent2);
}

@media only screen and (max-width: 576px) {
}
