:root {
  --documentBackground: #fff;
  --documentAccent2: #373d48;
  --documentFont3: #010101;
  --documentFont4: #9b9b9b;
}

.cv_container {
  display: grid;
  place-items: center;
}

.cv_body {
  width: 955px;
  min-height: 100vh;
  max-height: 100%;
  background-color: var(--documentBackground);
  position: relative;
    font-family: 'Roboto', sans-serif;
}

.cv_header {
  display: flex;  
  background-color: var(--documentAccent2);
  width: 100%;
}

.cv_header.container {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 28px;
    height: 100px;
    display: grid;
    grid-template-rows: 42px 21px 34px;
    align-items: end;
}

.cv_header > .name {
    font-size: 36px;
    color: var(--documentFont4);
}

.address {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 6px;
    grid-auto-columns: max-content;
}

.summary {
    min-height: 50px;
    color: var(--documentFont3);
    font-size: 14px;
    line-height: 16px;
    margin: 50px 32px 32px 50px;
}

.vertical_rule {
    height: calc(100% - 240px);
    width: 2px;
    position: absolute;
    margin-left: 49px;
    margin-top: 1%;
    background-color: var(--documentAccent2);
}

.cv_list {
    position: relative;
    z-index: 10;
}

.title {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    grid-auto-columns: max-content;
    place-items: center;
}

.title > .bullet {
    margin-left: 16px;
}

.title > .text {
    color: var(--documentAccent2);
    font-size: 24px;
    line-height: 28px;
}

.item {
    color: var(--documentFont3);
    display: grid;
}

.education.item {

}

@media only screen and (max-width: 576px) {
}
