/* BEGIN Footer Keep on Bottom */
#page-container !important {
  position: relative;
  min-height: 100vh;
}

#content-wrap !important {
  padding-bottom: 150px; /* Footer height */
}

#footer !important {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px; /* Footer height */
}
/* END Footer Keep on Bottom */

.footer {
  display: grid;
  place-items: center;
  grid-template-areas: "links";
  justify-self: center;
  font-size: 11px;
  grid-template-rows: 1fr;
}
