/* BEGIN Footer Keep on Bottom */
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 300px; /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 300px; /* Footer height */
}
/* END Footer Keep on Bottom */

.footer {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-areas: "social" "contact";
  justify-self: center;
  font-size: 11px;
}
/* End Footer Keep on Bottom */
