/* BEGIN Footer Keep on Bottom */
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 300px; /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 300px; /* Footer height */
}
/* END Footer Keep on Bottom */

.footer > .standard.links {
  grid-area: links;
  display: grid;
  place-items: center;
  grid-row-gap: 6px;
}

.standard.links > .line {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-column-gap: 6px;
  place-items: center;
}

.standard.links > div > .dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: white;
}

.links > div > div > a {
  text-decoration: unset;
  color: white;
}

.links > div > div > a:hover {
  text-decoration: underline;
  color: white;
}
