<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sean's Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'RossDevs/styles.css' %}">
    {% block page_css %}{% endblock %}
</head>
<body>
{% block header %}
    <style>
        body {
            grid-template-rows: 60px 1fr 60px;
            justify-items: center;
            align-items: start;
            grid-gap: 20px;
        }
    </style>
    <div class="base header">
        <nav class="nav-bar">
            <a href="/"><span>Home</span></a>
            <a href="/resume/"><span>Resume</span></a>
            <a href="/projects/"><span>Projects</span></a>
            <a href="/cv/"><span>Curriculum Vitae</span></a>
        </nav>
    </div>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}
    <footer class="base">
        <div class="footer">
            <div class="socials">
            </div>
            <div class="contact">
                <span>For web development you can email me at {{ contact.email }} or leave a message at {{ contact.phone }}.</span>
            </div>
        </div>
    </footer>
{% endblock %}
</body>
</html>