{% extends "base.html" %}
{% load static %}
{% load markdownify %}
{% block title %}Projects{% endblock %}
{% block content %}
    {% if projects %}
        {% for proj in projects %}
            <div class="project">
                <div class="title">
                    {{ proj.name }}
                </div>
                <div class="body">
                    {% for sect in proj.mark_down_sections.all %}
                        {{ sect.title }}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}